/*Navbar*/
.is-vertically-centered {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.navbar {
    height: 10vh;
    position: relative;
    background: #1A75FF;
    color: white;
}
.navbar-item {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    margin-right: 0px;
}
.navbar-item:hover {
    background: unset !important;
}
.navbar-item:hover span {
    color: #FFFFFF !important;
    border-bottom: 1px solid #FFFFFF;
}