/*General App styles*/
* {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
h1 {
    font-size: 20px;
    font-weight: bolder;
    color: #666666;
}
.is-full-height {
    height: 100vh;
}
.is-full-width {
    width: 100vw;
}
.is-vertically-centered {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.is-horizontally-centered {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.centered {
    margin-left: auto;
    margin-right: auto;
}

.has-depth {
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

